.quiz-3-peoples {
  margin-top: 16px;
  margin-bottom: 16px;
}

.quiz-3-peoples > strong {
  color: #008a2a;
}

.quiz-3-img {
  margin-bottom: 10px;
}

.quiz-3-image {
  width: 70%;
  margin-bottom: 100px;
}

.quiz-3-image .logo-start-quiz {
  bottom: -60px;
}
